<div class="container">
  <h1>Bootstrapの練習</h1>
  <div class="row"><!-- 横並びにしている要素を囲う要素 -->
    <div class="bg-red col-md-4">横に並ぶ</div><!-- 横並びにする要素 -->
    <div class="bg-orange col-md-4">横に並ぶ</div><!-- 横並びにする要素 -->
    <div class="bg-green col-md-4">横に並ぶ</div><!-- 横並びにする要素 -->
  </div>
</div>
<hr>

<div class="container">
  <form>
    <div class="form-group">
      <label>Example label</label>
      <input type="text" class="form-control" placeholder="Example input">
    </div>
    <div>
      <label>Another label</label>
      <input type="text" class="form-control" placeholder="Another input">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
