// Place all the styles related to the samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row > div {
  padding: 10px;
}
.bg-red {
  background: red;
}
.bg-orange {
  background: orange;
}
.bg-green {
  background: green;
}
